@charset "UTF-8";

@import 'import/variables';
@import 'import/px-convert';
@import 'import/mixin';

:root {
    /* background */
    --bgcolor-top: ;
    --bgcolor-bottom: ;
    --bgcolor-primary: #0358d4;
    --bgcolor-lightGray: #f5f5f5;
    --text-bgcolor: #fff;

    /* 텍스트 Color */
    --text-default: $base-color;
    --text-color: #595959;
    --text-disabled: #8c8c8c;
    --text-disabled2: #fff;
    --text-disabled-outline: #ccc;
    --text-heading: #1f1f1f;
    --text-title: #262626;
    --text-primary: #0358d4;

    --text-blue: #023f98;
    --text-green: #24883e;
    --text-purple: #6c5abc;

    /* 버튼 BgColor */
    --btn-text-color: #fff;
    --btn-bgcolor-primary: #0358d4;
    --btn-bgcolor-primary-hover: #003b94;

    --btn-bgcolor-blue: #023f98;
    --btn-bgcolor-blue-hover: #193c8d;
    --btn-bgcolor-green: #24883e;
    --btn-bgcolor-green-hover: #0f4e1f;
    --btn-bgcolor-purple: #6c5abc;
    --btn-bgcolor-purple-hover: #3f2f87;

    --btn-bgcolor-disabled: #f0f0f0;
    --btn-bgcolor-disabled2: #ccc;
    --border-disabled: #ccc;

    /* 테두리 컬러 */
    --border-default: #ccc;
    --border-focus: #256ef4;
    --border-hover: #222222;
    --border-light: #f0f0f0;
    --border-primary: #0358d4;

    --border-blue: #023f98;
    --border-green: #24883e;
    --border-purple: #6c5abc;

    /* 뱃지 컬러 */
    --badge-bgcolor-red: #e33642;

    /* Tool BgColor */
    --tool-bgcolor: #434343;
    --tool-bgcolor-dim: rgba(0, 0, 0, 0.94);
    --tool-txt-color: #fff;

    /* 효성 컬러 */
    --primary-default: #023f98;
    --primary-dark: #022862;
    --primary-light: #0358d4;
    --primary-second: #e6ecf5;
    --primary-light-second: #5d84bd;

    --text-100-h: #000;
    --text-80-h: #333;
    --text-60-h: #666;
    --text-40-h: #999;
    --text-white-h: #fff;

    --components-strong: #000;
    --components-default: #6d7882;
    --components-light: #b1b8be;
    --components-white: #fff;

    --border-strong-h: #000;
    --border-default-h: #6d7882;
    --border-light-h: #cdd1d5;

    --background-default: #f5f5f5;
    --background-light: #f8f8f8;
    --background-cool-default: #eef2f7;
    --background-cool-light: #f7f8fa;
    --background-white: #fff;

    --primary-100: #001d46;
    --primary-90: #002d6f;
    --primary-80: #023f98;
    --primary-70: #0358d4;
    --primary-60: #1875fc;
    --primary-50: #5499fd;
    --primary-40: #7eb2ff;
    --primary-30: #a2c8ff;
    --primary-20: #c6ddff;
    --primary-10: #ebf3ff;

    --secondary-100: #d9d9d9;

    --danger-3: #c60101;
    --danger-2: #e90101;
    --danger-1: #fbeff0;

    --warning-3: #d54d00;
    --warning-2: #fa5b00;
    --warning-1: #ffefe7;

    --success-3: #009000;
    --success-2: #00a900;
    --success-1: #e8f2ea;

    --info-3: #005a9d;
    --info-2: #006ab8;
    --info-1: #e9f5ff;
}
