@charset "UTF-8";

@use 'import/variables';
@use 'import/px-convert';
@use 'import/mixin';

:root {
    /* border */
    --border-default: #ccc;
    --border-focus: #256ef4;
    --border-hover: #222222;

    /* primary */
    --primary-default: #023f98;
    --primary-dark: #022862;
    --primary-light: #0358d4;
}
